header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  /* background-color: #733e32; */
}

#hamburger {
  display: none; /* Hide by default */
  font-size: 30px; /* Adjust size as needed */
  cursor: pointer;
}

.fullscreen-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f5e9dc; /* Soft cream color */
  z-index: 99;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullscreen-menu a {
  font-size: 24px;
  color: #333;
  padding: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.fullscreen-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333; /* Or any color that fits your design */
  background-color: #f5e9dc; /* Soft cream color */
}

header h1 {
  margin-bottom: 0;
  padding-bottom: 30px; /* Adjust based on your header's height */
}

nav div.left-links,
nav div.right-links {
  position: absolute;
  bottom: 0;
  /* background-color: #733e32; */
}

nav div.left-links {
  left: 0;
  padding-left: 20px; /* Adjust spacing as needed */
}

nav div.right-links {
  right: 0;
}

nav a {
  text-decoration: none;
  color: #333; /* Original link color */
  margin-right: 15px; /* Space between links */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

nav a:hover {
  color: #733e32; /* New color when hovered */
}

/* Featured Article */
.featured-article {
  background-color: #a60321; /* Bold accent color */
  color: #d0eff2; /* Ensuring text is readable against the dark background */
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.featured-article h2,
.featured-article p {
  margin-top: 20px;
}

.featured-article img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: #733e32; /* Accent color */
  color: #d0eff2;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

/* Fonts */
.playfair-display-h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4vw;
}

.playfair-display-nav {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 70%;
}

.segoe-ui-h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding: 20px;
    /* background-color: #733e32; */
    flex-direction: row;
    width: 100%;
  }

  header h1 {
    font-size: 7vw; /* Adjusts the font size for smaller screens */
    /* justify-self: left; */
    text-align: center; /* Ensures the text is aligned to the left */
    /* background-color: #f5e9dc; */
    margin-right: 30%;
    /* margin-bottom: 10px; */
    order: 0;
  }

  #hamburger {
    display: block; /* Shows the hamburger icon */
    position: relative; /* Adjusted for positioning within the flex container */
    cursor: pointer; /* Optional: Changes the cursor to a pointer on hover */
    font-size: 30px; /* Adjusts size of the hamburger icon */
    text-align: right; /* Aligns the hamburger icon to the right */
    margin-right: 10%;
    /* margin-bottom: 10px; */
  }

  header .left-links,
  header .right-links {
    display: none; /* Hide traditional links */
  }
}
